#homeContainer {
  height: 100%;
  display: flex;
  justify-content: center;
}

#homeContainer #loder {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

#homeContainer #movies {
  display: gird;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  grid-gap: 100px;
  padding: 50px;
  width: 80%;
  padding-top: 70px;
}

@media screen and (max-width: 1090px) {
  #homeContainer #movies {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
